---
import type { Pagina } from '@/tipos';

const paginas = await Astro.glob<Pagina>('../contenido/docencia/*.mdx');
---

{
  paginas &&
    paginas.map((pagina) => {
      return (
        <>
          <h3 id={pagina.frontmatter.slug}>{pagina.frontmatter.titulo}</h3>
          <pagina.Content />
        </>
      );
    })
}
