---
import type { Pagina } from '@/tipos';
import type { MDXInstance } from 'astro';
async function aplanarPagina(pagina: Promise<MDXInstance<Pagina>[]>) {
  return await pagina.then((res) => res[0]);
}
const pregrado = await Astro.glob<Pagina>('../contenido/docencia/pregrado/*.mdx');
const paginas = await Astro.glob<Pagina>('../contenido/docencia/*.mdx');
---

{
  paginas &&
    paginas.map((pagina) => {
      return (
        <>
          <h3 id={pagina.frontmatter.slug}>{pagina.frontmatter.titulo}</h3>
          <pagina.Content />
        </>
      );
    })
}

<h3>Cursos</h3>

<h4>Cursos de pregrado</h4>

{
  pregrado.map((pagina) => (
    <>
      <h5>{pagina.frontmatter.titulo}</h5>
      <pagina.Content />
    </>
  ))
}
