:root {
  --colorFuente1: rgb(45, 45, 45);
  --colorFuente2: rgb(226, 166, 231);
  --colorCategoria1: rgb(159, 211, 253);
  --colorCategoria2: rgb(238, 197, 174);
  --colorCategoria3: rgb(179, 221, 186);
  --colorCategoria4: rgb(245, 238, 147);
  --colorCategoria5: rgb(255, 224, 153);
}
