@use 'constantes' as *;
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 500;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  padding-top: 2rem;
  margin: 0 0 0.5em;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  padding-bottom: 0.4em;
}

h3 {
  font-size: 2.2rem;
  padding-bottom: 0.3em;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.15rem;
}

a,
a:link {
  text-decoration: none;
}
